<div class="space-y-5">
  <h5 class="text-xl font-semibold text-gray-900 text-center dark:text-white">
    Register Merchant
  </h5>

  <div [formGroup]="registerMerchantForm" class="space-y-5">
    <div class="space-y-5">
      <div>
        <input
          type="text"
          id="name"
          formControlName="name"
          placeholder="Merchant Name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-stone-700 focus:border-stone-700
           block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-stone-700 dark:focus:border-stone-700"
          required
        />

        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
          <div *ngIf="name?.errors?.['required']">
            <div
              id="alert-2"
              class="flex items-center p-4 mt-4 text-red-600 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="flex-shrink-0 w-4 h-4"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12
                   15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Info</span>
              <div class="ms-3 text-sm font-medium">
                Merchant Name is required!
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <input
          type="email"
          formControlName="email"
          placeholder="Email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-stone-700 focus:border-stone-700
           block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-stone-700 dark:focus:border-stone-700"
          required
        />

        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
          <div *ngIf="email?.errors?.['required']">
            <div
              id="alert-2"
              class="flex items-center p-4 mt-4 text-red-600 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="flex-shrink-0 w-4 h-4"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12
                   15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Info</span>
              <div class="ms-3 text-sm font-medium">Email is required!</div>
            </div>
          </div>

          <div *ngIf="email?.errors?.['email']">
            <div
              id="alert-2"
              class="flex items-center p-4 mt-4 text-red-600 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="flex-shrink-0 w-4 h-4"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12
                   15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Info</span>
              <div class="ms-3 text-sm font-medium">Email must be valid!</div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <input
          type="tel"
          formControlName="phoneNumber"
          placeholder="Phone Number"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-stone-700 focus:border-stone-700
           block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-stone-700 dark:focus:border-stone-700"
          required
        />

        <div
          *ngIf="
            phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)
          "
        >
          <div *ngIf="phoneNumber?.errors?.['required']">
            <div
              id="alert-2"
              class="flex items-center p-4 mt-4 text-red-600 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="flex-shrink-0 w-4 h-4"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12
                   15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Info</span>
              <div class="ms-3 text-sm font-medium">
                Phone Number is required!
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <textarea
          rows="4"
          formControlName="companyDesc"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-stone-700
           focus:border-stone-700 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-stone-700 dark:focus:border-stone-700"
          placeholder="Write brief company description.."
          style="resize: none"
        ></textarea>

        <div
          *ngIf="
            companyDesc?.invalid && (companyDesc?.dirty || companyDesc?.touched)
          "
        >
          <div *ngIf="companyDesc?.errors?.['required']">
            <div
              id="alert-2"
              class="flex items-center p-4 mt-4 text-red-600 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="flex-shrink-0 w-4 h-4"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 
                  15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Info</span>
              <div class="ms-3 text-sm font-medium">
                Company Description is required!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center mt-5">
    <button
    type="submit"
    [disabled]="registerMerchantForm.invalid"
    [class.disabled]="registerMerchantForm.invalid"
    (click)="onFormSubmit()"
    cdkStepperNext
    class="text-white bg-stone-700 hover:bg-stone-800 focus:ring-4 focus:outline-none focus:ring-stone-300 
    font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-stone-600 dark:hover:bg-stone-700 dark:focus:ring-stone-800"
  >
    Next
  </button>
  </div>

</div>
