<app-dashboard>
  <div class="container max-w-7xl mx-auto p-4">
    <div class="bg-gray-100 p-4 rounded-lg shadow space-y-4">
      <div class="flex flex-wrap justify-between items-center gap-2">
        <div class="text-xl font-bold">Product Management</div>

        <a
          routerLink="create"
          class="transition-all bg-blue-700 text-white text-sm rounded-lg py-2 px-2.5 hover:bg-blue-800"
          >Add new product</a
        >
      </div>
      <p class="leading-loose">Here you can manage your Tourism Product!</p>

      <ng-container *ngIf="productData && productData.length > 0">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <table
            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr>
                <th scope="col" class="px-6 py-3">#</th>
                <th scope="col" class="px-6 py-3">Product Name</th>
                <th scope="col" class="px-6 py-3">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                *ngFor="let product of productData; let i = index"
              >
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  {{ i + 1 }}
                </th>
                <td class="px-6 py-4">
                  {{ product.name }}
                </td>
                <td class="px-6 py-4">
                  <div class="flex flex-wrap items-center gap-1.5">
                    <a
                      routerLink="edit/{{ product._id }}"
                      class="transition-all bg-blue-700 text-white rounded-lg px-4 py-2 hover:bg-blue-800"
                    >
                      Edit
                    </a>
                    <button
                      (click)="
                        product._id &&
                          product.name &&
                          deleteProduct(product._id, product.name)
                      "
                      class="transition-all bg-red-700 text-white rounded-lg p-2 hover:bg-red-800"
                    >
                      Delete
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>

      <ng-container *ngIf="!productData || productData.length === 0">
        <div class="text-sm">No data available..</div>
      </ng-container>
    </div>
  </div>
</app-dashboard>
