<app-dashboard *ngIf="userData || merchantData?.status == 'Approved'">
  <div class="container max-w-7xl mx-auto p-4">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-4">
      <div class="col-span-9">
        <div
          *ngIf="userData"
          class="bg-gray-100 p-4 rounded-lg shadow space-y-4"
        >
          <ng-container>
            <h1 class="text-2xl leading-loose">
              Welcome, {{ userData.name }}!
            </h1>
            <ng-container *ngIf="userData.roles == '6554214edf0260336ced32a9'">
              <p class="leading-loose">This is Dashboard for Customer</p>
            </ng-container>

            <ng-container *ngIf="userData.roles == '6554217cdf0260336ced32ab'">
              <p class="leading-loose">
                This is Dashboard for Tourism Ministry Officer, where you can
                approve or reject Merchant registration.
              </p>
            </ng-container>
          </ng-container>
        </div>

        <!-- Merchant -->
        <div
          *ngIf="merchantData"
          class="bg-gray-100 p-4 rounded-lg shadow space-y-4"
        >
          <ng-container *ngIf="merchantData.status == 'Approved'">
            <div class="flex flex-wrap items-center gap-3">
              <h1 class="text-2xl leading-loose">
                Welcome, {{ merchantData.name }}!
              </h1>

              <span
                class="flex items-center gap-3 bg-green-500 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded"
              >
                <svg
                  class="w-2 h-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 16 12"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5.917 5.724 10.5 15 1.5"
                  />
                </svg>
                Account Status: {{ merchantData.status }}
              </span>
            </div>
            <p class="leading-loose">
              This is Dashboard for Merchant, where you can manage your tourism
              products here, like add, edit or delete your products!
            </p>
          </ng-container>
        </div>
      </div>

      <div class="col-span-9 lg:col-span-3">
        <div
          *ngIf="userData"
          class="bg-gray-100 p-4 rounded-lg shadow space-y-4"
        >
          <ng-container *ngIf="userData.roles == '6554214edf0260336ced32a9'">
            <h1 class="text-2xl leading-loose">Customer Menu</h1>

            <ul class="text-sm space-y-3">
              <li>
                <a
                  routerLink="/user-dashboard"
                  class="underline"
                  >Dashboard</a
                >
              </li>
              <li>
                <a
                  routerLink="/user-dashboard/my-profile"
                  class="underline"
                  >My Profile</a
                >
              </li>
            </ul>
          </ng-container>

          <ng-container *ngIf="userData.roles == '6554217cdf0260336ced32ab'">
            <h1 class="text-xl leading-loose">Officer Menu</h1>

            <ul class="text-sm">
              <li>
                <a
                  routerLink="/user-dashboard/account-management"
                  class="underline"
                  >Account Management</a
                >
              </li>
            </ul>
          </ng-container>
        </div>

        <div *ngIf="merchantData">
          <ng-container *ngIf="merchantData.status == 'Approved'">
            <div class="bg-gray-100 p-4 rounded-lg shadow space-y-4">
              <h1 class="text-xl leading-loose">Merchant Menu</h1>

              <ul class="text-sm space-y-4">
                <li>
                  <a
                    routerLink="/user-dashboard/product-management"
                    class="underline"
                    >Product Management</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/user-dashboard/change-merchant-password"
                    class="underline"
                    >Change Password</a
                  >
                </li>
              </ul>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</app-dashboard>

<ng-container
  *ngIf="
    merchantData?.status == 'Pending' || merchantData?.status == 'Rejected'
  "
>
  <div
    class="flex flex-col justify-center items-center text-center p-4 min-h-screen gap-5"
  >
    <h1 class="text-3xl leading-relaxed">
      Account status is
      <span class="text-red-700">{{ merchantData?.status }}</span>
    </h1>

    <ng-container *ngIf="merchantData?.status == 'Pending'">
      <p class="text-xl leading-relaxed">
        You need to wait for approval from Tourism Ministry Officer...
      </p>
    </ng-container>

    <ng-container *ngIf="merchantData?.status == 'Rejected'">
      <p class="text-xl leading-relaxed">
        Don't be sad, better luck next time...
      </p>
    </ng-container>

    <button
      type="button"
      (click)="logout()"
      class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
    >
      Logout
    </button>
  </div>
</ng-container>
