
<div class=" flex-wrap px-4 py-10">
  <h1 class="flex-wrap text-3xl text-center font-semibold">Best Tourism Product</h1>
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4">
      
        <div class=" m-5 bg-stone-300 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="details">
              <img class="rounded-t-lg h-60 w-60 " src="assets/images/p.png" alt="" />
          </a>
          <div class="p-4">
              <a href="details">
                  <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">KL-Petronas</h5>
              </a>
          </div>
        </div>
        <div class=" m-5  bg-stone-300 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="details">
              <img class="rounded-t-lg h-60 w-60" src="assets/images/p.png" alt="" />
          </a>
          <div class="p-4">
              <a href="details">
                  <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">KL-PNB 118</h5>
              </a>
          </div>
        </div>
        <div class=" m-5  bg-stone-300 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="details">
              <img class="rounded-t-lg h-60 w-60" src="assets/images/p.png" alt="" />
          </a>
          <div class="p-4">
              <a href="details">
                  <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Bali-NusaPenida</h5>
              </a>
          </div>
        </div>
        <div class=" m-5  bg-stone-300 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="details">
              <img class="rounded-t-lg h-60 w-60" src="assets/images/p.png" alt="" />
          </a>
          <div class="p-4">
              <a href="details">
                  <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Bali-Denpasar</h5>
              </a>
          </div>
        </div>
        
    </div>
  </div>
