<app-dashboard>
  <div class="container max-w-lg mx-auto p-4">
    <div class="bg-gray-100 p-4 rounded-lg shadow space-y-4">
      <ng-container *ngIf="merchant?.status == 'Approved'">
        <div class="text-xl font-bold">Change Password</div>

        <ng-container *ngIf="merchant?.isFirstLogin">
          <p>User: {{ merchant?.name }}</p>
          <p>
            This is your first login, make sure to change your password. Use
            strong password!
          </p>
        </ng-container>

        <ng-container *ngIf="!merchant?.isFirstLogin">
          <p>User: {{ merchant?.name }}</p>
        </ng-container>

        <div>
          <form
            [formGroup]="changePasswordForm"
            class="flex flex-col justify-start space-y-3"
          >
            <input
              type="password"
              formControlName="newPassword"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="New Password"
              required
            />

            <div
              *ngIf="
                newPassword?.invalid &&
                (newPassword?.dirty || newPassword?.touched)
              "
            >
              <div *ngIf="newPassword?.errors?.['required']">
                <div
                  id="alert-2"
                  class="flex items-center p-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                  role="alert"
                >
                  <svg
                    class="flex-shrink-0 w-4 h-4"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                    />
                  </svg>
                  <span class="sr-only">Info</span>
                  <div class="ms-3 text-sm font-medium">
                    New Password is required!
                  </div>
                </div>
              </div>

              <div *ngIf="newPassword?.errors?.['minlength']">
                <div
                  id="alert-2"
                  class="flex items-center p-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                  role="alert"
                >
                  <svg
                    class="flex-shrink-0 w-4 h-4"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                    />
                  </svg>
                  <span class="sr-only">Info</span>
                  <div class="ms-3 text-sm font-medium">
                    New Password is 8 characters minimum!
                  </div>
                </div>
              </div>
            </div>

            <input
              type="password"
              formControlName="confirmNewPassword"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Confirm New Password"
              required
            />

            <div
              *ngIf="
                confirmNewPassword?.invalid &&
                (confirmNewPassword?.dirty || confirmNewPassword?.touched)
              "
            >
              <div *ngIf="confirmNewPassword?.errors?.['required']">
                <div
                  id="alert-2"
                  class="flex items-center p-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                  role="alert"
                >
                  <svg
                    class="flex-shrink-0 w-4 h-4"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                    />
                  </svg>
                  <span class="sr-only">Info</span>
                  <div class="ms-3 text-sm font-medium">
                    Confirm New Password is required!
                  </div>
                </div>
              </div>

              <div *ngIf="confirmNewPassword?.errors?.['minlength']">
                <div
                  id="alert-2"
                  class="flex items-center p-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                  role="alert"
                >
                  <svg
                    class="flex-shrink-0 w-4 h-4"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                    />
                  </svg>
                  <span class="sr-only">Info</span>
                  <div class="ms-3 text-sm font-medium">
                    Confirm New Password is 8 characters minimum!
                  </div>
                </div>
              </div>
            </div>

            <button
              type="submit"
              (click)="changePassword()"
              [disabled]="changePasswordForm.invalid"
              [class.disabled]="changePasswordForm.invalid"
              class="transition-all bg-blue-700 text-white rounded-lg py-3 hover:bg-blue-800"
            >
              Change Password
            </button>
          </form>
        </div>
      </ng-container>

      <ng-container *ngIf="merchant?.status == 'Pending' || merchant?.status == 'Rejected'">
        <p>You don't have access!</p>
      </ng-container>
    </div>
  </div>
</app-dashboard>
