<app-home>
  <div class="py-10 p-4">
    <div
      class="container mx-auto max-w-lg p-6 bg-stone-300 border border-stone-200 rounded-lg shadow space-y-4"
    >
      <form id="registerMerchantForm" [formGroup]="registerMerchantForm">
        <app-register-merchant-stepper [linearModeSelected]="false" #appStepper>
          <cdk-step
            label="Information"
            formGroupName="merchantData"
            [stepControl]="registerMerchantForm.get('merchantData')!"
            editable="false"
          >
            <app-register-merchant-form
              (formSubmitted)="addMerchant($event)"
              [registerMerchantForm]="registerMerchantForm"
            >
            </app-register-merchant-form>
          </cdk-step>

          <cdk-step
            label="Document"
            formGroupName="merchantDoc"
            [stepControl]="registerMerchantForm.get('merchantDoc')!"
          >
            <app-register-merchant-form-two
              [registerMerchantForm]="registerMerchantForm"
            ></app-register-merchant-form-two>
          </cdk-step>
        </app-register-merchant-stepper>
      </form>

      <p class="text-sm text-center">
        Already have account?
        <a
          routerLink="/login"
          class="text-blue-500 underline hover:no-underline"
          >Login here!</a
        >
      </p>
    </div>
  </div>
</app-home>
