<ol
  class="flex flex-wrap justify-center gap-3 w-full p-3 text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base sm:p-4 sm:space-x-1 mb-4"
>
  <li
    class="flex items-center text-blue-600 dark:text-blue-500"
    *ngFor="let step of steps; let i = index"
  >
    <span
      class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-blue-600 rounded-full shrink-0 dark:border-blue-500"
    >
      {{ i + 1 }}
    </span>
    <button [class.active]="selectedIndex === i">
      {{ step.label }}
    </button>
  </li>
</ol>

<div *ngIf="selected">
  <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
</div>
