<app-home>
  <div class="container max-w-7xl mx-auto p-4">
    <div class="grid grid-cols-12 gap-5">
      <div class="col-span-12 space-y-3">
        <h1 class="text-2xl font-semibold leading-loose">
          {{ product?.name }}
        </h1>

        <hr class="border-b border-gray-100 h-px" />

        <div class="text-sm">Provided by: {{ merchant?.name }} - Rating: 5/5</div>

        <div class="grid grid-cols-12 gap-3">
          <div class="col-span-12 md:col-span-6">
            <img
              src="{{ product?.image }}"
              alt="{{ product?.name }}"
              class="transition-all duration-300 max-w-full shadow hover:shadow-xl rounded-lg"
            />
          </div>

          <div class="col-span-12 md:col-span-6">
            <article class="flex flex-col gap-3 leading-loose">
              <p>{{ product?.description }}</p>

              <p>
                <span class="font-bold">Address: </span>

                {{ product?.address }}, {{ product?.city }}, {{ product?.state }}
              </p>

              <p class="font-bold">Price: MYR {{ product?.price }}</p>

              <a
                routerLink="/checkout/{{ product?._id }}"
                class="transition-all w-[8.3rem] bg-stone-500 hover:bg-stone-400 rounded-3xl shadow py-1 px-2 text-md text-white"
                >Checkout Now</a
              >
              <a href="review" class="transition-all w-[8.3rem] text-sm py-2 px-3 bg-stone-500 text-white rounded-3xl hover:bg-stone-500">Review Product</a>
            </article> 
            
<figure class="max-w-screen-md pt-3">
  <div class="flex items-center mb-4 text-yellow-300">
      <svg class="w-5 h-5 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
          <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
      </svg>
      <svg class="w-5 h-5 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
          <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
      </svg>
      <svg class="w-5 h-5 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
          <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
      </svg>
      <svg class="w-5 h-5 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
          <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
      </svg>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
          <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
      </svg>
  </div>
  <blockquote>
      <p class="text-2xl font-semibold text-gray-900 dark:text-white">"Best Destination"</p>
  </blockquote>
  <figcaption class="flex items-center mt-6 space-x-3 rtl:space-x-reverse">
      <img class="w-6 h-6 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png" alt="profile picture">
      <div class="flex items-center divide-x-2 rtl:divide-x-reverse divide-gray-300 dark:divide-gray-700">
          <cite class="pe-3 font-medium text-gray-900 dark:text-white">Jaya</cite>
          <cite class="ps-3 text-sm text-gray-500 dark:text-gray-400">Bali</cite>
      </div>
  </figcaption>
</figure>

          </div>
        </div>
      </div>
    </div>
  </div>
</app-home>
