<app-home>
  <div class="container max-w-7xl mx-auto p-4">
    <div class="grid grid-cols-12 gap-5">
      <div class="col-span-12 space-y-3">
        <h1 class="text-2xl font-semibold leading-loose">
          {{ product?.name }}
        </h1>

        <hr class="border-b border-gray-100 h-px" />

        <div class="text-sm">Provided by: {{ merchant?.name }} - Rating: 5/5</div>

        <div class="grid grid-cols-12 gap-3">
          <div class="col-span-12 md:col-span-6">
            <img
              src="{{ product?.image }}"
              alt="{{ product?.name }}"
              class="transition-all duration-300 max-w-full shadow hover:shadow-xl rounded-lg"
            />
          </div>

          <div class="col-span-12 md:col-span-6">
            <article class="flex flex-col gap-3 leading-loose">
              <p>{{ product?.description }}</p>

              <p>
                <span class="font-bold">Address: </span>

                {{ product?.address }}, {{ product?.city }}, {{ product?.state }}
              </p>

              <p class="font-bold">Price: MYR {{ product?.price }}</p>

              <a
                routerLink="/checkout/{{ product?._id }}"
                class="transition-all w-[8.3rem] bg-blue-700 hover:bg-blue-900 rounded-lg shadow py-1 px-2 text-md text-white"
                >Checkout now</a
              >
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-home>
